<<<<<<< HEAD
//
// features.scss
//

.features-desc {
  h2 {
    font-size: 28px;
    line-height: 1.6;
  }
  p {
    line-height: 1.8;
  }
}


=======
//
// features.scss
//

.features-desc {
  h2 {
    font-size: 28px;
    line-height: 1.6;
  }
  p {
    line-height: 1.8;
  }
}


>>>>>>> ca15baa035d643e5f492e42514987e891e1c2eb9
